{{#extends 'base'}}

{{#block "content"}}
<h1>Login</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{loginForm}}}
    <input type="submit" value="Login" class="btn btn-primary my-3"/>
</form>

{{/block}}

{{/extends}}