{{#extends 'base'}}

{{#block 'content'}}
<h1>Sign Up</h1>
<form method="POST">
    {{{signUpForm}}}
    <input type="submit" value="Sign up" class="btn btn-primary my-3"/>
</form>

{{/block}}

{{/extends}}